# Project exclude paths
.gradle/
app/.cxx/
app/build/
app/build/intermediates/javac/debug/classes/
.idea
build/reports/problems/problems-report.html

*.apk
*.so

local.properties

third_party/include
third_party/**/*.a
third_party/sdk/etc/haarcascades/

*.keystore
